*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}

img{
    vertical-align: top;
}


.clear:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

